<div class="container" >
	<div class="lead text-center" style="padding-top:80px;" >

		<% if @type == "F-E0" %>
			恭喜您！您暂时不需要在快睡好眠做保健！
		<% elsif @type == "F-E1" %>
			您目前不适合在本场所进行相关的保健工作，请在适当的时候再来做保健。
		<% else %>

			<big><strong >根据您的体质，快睡好眠  <%= @type %>  方案适合您</strong> </big> 
		<% end %>

		<div class="text-center" style="padding-top:20px;" >
			<a class="btn btn-success" href="<%= ceshi_path %>">  重新测试 </a>
		</div>
	</div>

</div>